@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark; /*web oscura */
}

body{
    background-color: #050505; /*color del fondo */
    color: #ffffff;
    font-family: system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased; /*letras mas finas y suavizadas */
    overflow-x: hidden; /* evita que la version movil se mueva hacia los lados */
}

.glass{ /*efecto cristal */
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(10px); /*desenfoque */
    border: 1px solid rgba(255,255,255,0.08);
}